In [5]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/03000070/Downloads/flags.csv')

In [3]:
df.head()

,name,landmass,zone,area,population,language,religion,bars,stripes,colors,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red

In [4]:
df.shape

(194, 30)

In [7]:
most_bars_countries = df['bars'].max()

In [25]:
list(df[df['bars']==most_bars_countries]['name'])[0]

'St-Vincent'

In [26]:
df.columns

Index(['name', 'landmass', 'zone', 'area', 'population', 'language',
       'religion', 'bars', 'stripes', 'colors', 'red', 'green', 'blue', 'gold',
       'white', 'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires',
       'quarters', 'sunstars', 'crescent', 'triangle', 'icon', 'animate',
       'text', 'topleft', 'botright'],
      dtype='object')

In [35]:
list(df[df['orange']==1]['name'].value_counts().shape)[0]

26

In [36]:
orange_prob = list(df[df['orange']==1]['name'].value_counts().shape)[0]/list(df.shape)[0]

In [37]:
orange_prob

0.13402061855670103

In [40]:
# probability to get countries red or orange

red_prob = list(df[df['red']==1]['name'].value_counts().shape)[0]/list(df.shape)[0]

In [41]:
red_prob

0.788659793814433

In [42]:
#wrong , dont refer
prob_org_red_intersect = orange_prob*red_prob

In [43]:
prob_of_orange_or_red = orange_prob+red_prob-prob_org_red_intersect

In [44]:
prob_of_orange_or_red

0.8169837389733233

In [46]:
#arunabhs way, correct way
red_and_orange = df[(df['red']==1) & (df['orange']==1)].shape[0]/df.shape[0]

In [49]:
red_or_orange = orange_prob + red_prob - red_and_orange

In [50]:
red_or_orange

0.8247422680412371

In [58]:
#probability of atleast 1 bar or 1 stripes

bar_prob = df[df['bars']>0].shape[0]/df.shape[0]

In [59]:
stripes_prob = df[df['stripes']>0].shape[0]/df.shape[0]

In [60]:
stripes_and_bar = df[(df['stripes'] > 0 ) & (df['bars'] > 0)].shape[0]/df.shape[0]

In [61]:
stripes_and_bar

0.020618556701030927

In [62]:
stripes_or_bar = bar_prob + stripes_prob - stripes_and_bar

In [63]:
stripes_or_bar

0.5927835051546392

In [64]:
df = pd.read_csv('/Users/03000070/Downloads/bike_rental_day.csv')

In [66]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [69]:
df.shape

(731, 16)

In [70]:
#prob more than 4k bikes rented on any given day

In [71]:
prob_4000_bike_rented = df[df['cnt']>4000].shape[0]/df.shape[0]

In [72]:
prob_4000_bike_rented

0.6183310533515732

In [89]:
#nCr*pr*qn-r/(n-r)!*r!

import math
def ncr(n,r,p):
    q = 1-p
    numerator = math.factorial(n)*(p**r)*(q**(n-r))
    denominator = (math.factorial(n-r))*math.factorial(r)
    return numerator/denominator

In [91]:
ncr(11,7,0.39)

0.06270259705866328

In [93]:
#prob of getting bike rented 8 days out of 10

#n=10
#r=8
ncr(10,8,prob_4000_bike_rented)


#prob of getting bike rented 10 days out of 10

ncr(10,10,prob_4000_bike_rented)

0.008169784077390262

In [94]:
#poison bernolli binomial thoerom

In [95]:
#H0 is null hypothesis
#H1 is 

#type 1 error (H0 is true, but h1 is acceptd)
#type 2 error

In [96]:
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/Users/03000070/Downloads/diabetes.csv')

NameError: name 'pd' is not defined

In [98]:
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [99]:
df.shape

(768, 9)

In [122]:
training = df[0:500]

In [121]:
training

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1
20,3,126,88,41,235,39.3,0.704,27,0
21,8,99,84,0,0,35.4,0.388,50,0
22,7,196,90,0,0,39.8,0.451,41,1
23,9,119,80,35,0,29.0,0.263,29,1
24,11,143,94,33,146,36.6,0.254,51,1
25,10,125,70,26,115,31.1,0.205,41,1
26,7,147,76,0,0,39.4,0.257,43,1
27,1,97,66,15,140,23.2,0.487,22,0
28,13,145,82,19,110,22.2,0.245,57,0
29,5,117,92,0,0,34.1,0.337,38,0
30,5,109,75,26,0,36.0,0.546,60,0
...,...,...,...,...,...,...,...,...,...
470,1,144,82,40,0,41.3,0.607,28,0
471,0,137,70,38,0,33.2,0.170,22,0
472,0,119,66,27,0,38.8,0.259,22,0
473,7,136,90,0,0,29.9,0.210,50,0
474,4,114,64,0,0,28.9,0.126,24,0
475,0,137,84,27,0,27.3,0.231,59,0
476,2,105,80,45,191,33.7,0.711,29,1
477,7,114,76,17,110,23.8,0.466,31,0
478,8,126,74,38,75,25.9,0.162,39,0
479,4,132,86,31,0,28.0,0.419,63,0
480,3,158,70,30,328,35.5,0.344,35,1
481,0,123,88,37,0,35.2,0.197,29,0
482,4,85,58,22,49,27.8,0.306,28,0
483,0,84,82,31,125,38.2,0.233,23,0
484,0,145,0,0,0,44.2,0.630,31,1
485,0,135,68,42,250,42.3,0.365,24,1
486,1,139,62,41,480,40.7,0.536,21,0
487,0,173,78,32,265,46.5,1.159,58,0
488,4,99,72,17,0,25.6,0.294,28,0
489,8,194,80,0,0,26.1,0.551,67,0
490,2,83,65,28,66,36.8,0.629,24,0
491,2,89,90,30,0,33.5,0.292,42,0
492,4,99,68,38,0,32.8,0.145,33,0
493,4,125,70,18,122,28.9,1.144,45,1
494,3,80,0,0,0,0.0,0.174,22,0
495,6,166,74,0,0,26.6,0.304,66,0
496,5,110,68,0,0,26.0,0.292,30,0
497,2,81,72,15,76,30.1,0.547,25,0
498,7,195,70,33,145,25.1,0.163,55,1
499,6,154,74,32,193,29.3,0.839,39,0

In [109]:
test = df[500:]

In [110]:
from scipy.spatial.distance import euclidean

In [111]:
euclidean([1,2,4],[5,1,2])

4.58257569495584

In [167]:
df = df[:10]

In [168]:
df

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [176]:
test = df[-1:]

In [181]:
df.iloc[9].tolist()

[8.0, 125.0, 96.0, 0.0, 0.0, 0.0, 0.232, 54.0, 1.0]

In [179]:
dist = []
for x in range(df.shape[0]):
    dist.append(euclidean(df.iloc[x].tolist()[-1],df.iloc[9].tolist()[-1]))

In [180]:
dist

[0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0]

In [183]:
df['distances'] = pd.Series(dist)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [184]:
df

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes,distances
0,6,148,72,35,0,33.6,0.627,50,1,0.0
1,1,85,66,29,0,26.6,0.351,31,0,1.0
2,8,183,64,0,0,23.3,0.672,32,1,0.0
3,1,89,66,23,94,28.1,0.167,21,0,1.0
4,0,137,40,35,168,43.1,2.288,33,1,0.0
5,5,116,74,0,0,25.6,0.201,30,0,1.0
6,3,78,50,32,88,31.0,0.248,26,1,0.0
7,10,115,0,0,0,35.3,0.134,29,0,1.0
8,2,197,70,45,543,30.5,0.158,53,1,0.0
9,8,125,96,0,0,0.0,0.232,54,1,0.0

In [190]:
df.sort_values(['distances'],ascending=0)

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes,distances
1,1,85,66,29,0,26.6,0.351,31,0,1.0
3,1,89,66,23,94,28.1,0.167,21,0,1.0
5,5,116,74,0,0,25.6,0.201,30,0,1.0
7,10,115,0,0,0,35.3,0.134,29,0,1.0
0,6,148,72,35,0,33.6,0.627,50,1,0.0
2,8,183,64,0,0,23.3,0.672,32,1,0.0
4,0,137,40,35,168,43.1,2.288,33,1,0.0
6,3,78,50,32,88,31.0,0.248,26,1,0.0
8,2,197,70,45,543,30.5,0.158,53,1,0.0
9,8,125,96,0,0,0.0,0.232,54,1,0.0

In [6]:
# KNN using scilearn
df = pd.read_csv('/Users/03000070/Downloads/diabetes.csv')

In [7]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
knn = KNeighborsClassifier()

In [1]:
from sklearn.model_selection import train_test_split as tts

In [8]:
df.shape

(768, 9)

In [9]:
X = df.drop(["diabetes"],1)
y = df["diabetes"]

In [10]:
X_train,X_test,y_train,y_test = tts(X,y, test_size = 0.25, random_state = 42)

In [13]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [14]:
y_pred = knn.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
print (accuracy_score(y_test,y_pred))

0.65625

In [17]:
#solving airbnb problems

airbnb = pd.read_csv('/Users/03000070/Downloads/dc_airbnb.csv')

In [18]:
airbnb.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD

In [19]:
airbnb.columns

Index(['host_response_rate', 'host_acceptance_rate', 'host_listings_count',
       'accommodates', 'room_type', 'bedrooms', 'bathrooms', 'beds', 'price',
       'cleaning_fee', 'security_deposit', 'minimum_nights', 'maximum_nights',
       'number_of_reviews', 'latitude', 'longitude', 'city', 'zipcode',
       'state'],
      dtype='object')